body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #e5e5e5;
    color: #14213d;
    border-bottom: 6px solid #fca311;
    border: 1px dotted #219ebc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 2s ease-out 100ms; 

    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    background-color: #219ebc;
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    50% {background-color: #219ebc; top: 5px;}
    100% {background-color: #219ebc; top: 0px;}
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
*/

